*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main
{
    width: 100%;
    display: flex;
}
#nav
{
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 0 4vw;
}
#nav i
{
    color: #EFDABD;
    font-size: 1.5vw;
}
#nav h4{
    color: #EFDABD;
    text-transform: uppercase;
    font-size: 1.3vw;
    letter-spacing: 1px;
}
#nav h4 span
{
    color: #FE662A;
}
#left
{
    height: 100vh;
    width: 50%;
    background-color: #202329;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#left h1
{
    color: #EFDABD;
    font-size: 4vw;
    width: 100%;
    padding-left: 11vw;
}
#left #box1
{
    width: 35%;
    height: 23%;
    color: #EFDABD;
    background-color: #2B3138;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding-left: 11vw;
}
#left #box1 h2
{
    font-weight: 600;
    width: 20vw;
}
#left #box1 p
{
    font-size: 0.8vw;
    width: 20vw;
}
#left #box2
{
    width: 28%;
    height: 3%;
    color: #EFDABD;
    background-color: #FE662A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding-left: 11vw;
}
#left #box2 p
{
    font-size: 0.8vw;
    width: 20vw;
}
#right
{
    height: 100vh;
    width: 50%;
    background-color: #2B3138;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#right h1
{
    position: absolute;
    font-size: 13.5vw;
    top: -8%;
    right: -7%;
    line-height: 25vh;
    opacity: .2;
}
img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 85%;
    z-index: 999;
}
#left>h2
{
    color: #FE662A;
    font-weight: 400;
    font-size: 15vw;
    display: inline;
    position: absolute;
    top: 13.5%;
    left: 50%;
    z-index: 998;
}
#box
{
    width: 50%;
    height: 23%;
    color: #EFDABD;
    background-color: #202329;
    gap: 2vh;
    margin-bottom: 10vh;
    position: relative;
}
#box h2
{
    color: #EFDABD;
    font-weight: 600;
    position: absolute;
    left: -25%;
    top: 25%;
}
#box p
{
    font-size: 0.8vw;
    width: 20vw;
    position: absolute;
    left: -25%;
    top: 55%;
}


@media (max-width:600px)
{
    #main
    {
        flex-direction: column;
    }
    #nav h4
    {
        font-size: 3vw;
    }
    #nav i
    {
        font-size: 3vw;
    }
    img
    {
        height: 55%;
        left: 70%;
    }
    #left>h2
    {
        left: 73%;
        top: 28%;
        font-size: 27vw;
    }
    #left
    {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    #left h1
    {
        font-size: 8vw;
        padding-left: 8vw;
    }
    #left #box1
    {
        height: 15vh;
    }
    #left #box1 h2
    {
        font-size: 3vw;
        width: 35vw;
    }
    #left #box1 p
    {
        font-size: 1.7vw;
        width: 55vw;
    }
    #left #box2
    {
        width: 10vh;
        height: 2vh;
    }
    #left #box2 p
    {
        font-size: 1.7vw;
    }
    #right
    {
        display: none;
    }
}